<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li id="home">
          <a href="./Home">
            <i class="tim-icons icon-tv-2"></i>
            <p>首頁</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <div class="content">
      <ng-content></ng-content>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright">
          0.0.001.0 ATK_PowerManager
        </div>
      </div>
    </footer>
  </div>
</div>
