<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true">

  <variable name="appName" value="PowerManager.Web" />
  <variable name="logFolder" value="${basedir}/LogFiles/${shortdate}/"/>

  <variable name="logFileName" value="${logFolder}/${appName}.log" />
  <variable name="logArchiveFileName" value="${logFolder}/${appName}_{###}.log" />

  <variable name="layout" value="[${date:format=HH\:mm\:ss\.ffff}] [${threadid}][${mdc:Item=WebSessionId}] [${level:uppercase=true}] ${logger} - ${message} ${exception:Format=ToString}" />
  
  <targets>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" >
      <target xsi:type="File" fileName="${logFileName}"
              encoding="UTF-8"
              layout="${layout}"
              concurrentWrites="false"
              keepFileOpen="false"
              autoFlush="true"
              createDirs="true"
              archiveAboveSize="5000000"
              maxArchiveFiles="10"
              archiveFileName="${logArchiveFileName}"
              archiveNumbering="Rolling" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
